.imgBanner {
	width: 100% !important;
	height: 50% !important;
	margin: 0!important;
}

.paddingClass {
	width: 70% !important;
	margin: 20 auto !important;
}

.btnIncarcaAnalize {
	margin-top: 103px !important;
}