.imgBanner {
	width: 100% !important;
	height: 50% !important;
}

.imgBanner2 {
    display: block;
    width: 90%;
    height: 60%;
    margin: 0 auto !important;
}

.paddingClass {
	width: 70% !important;
	margin: 20 auto !important;
}
.paddingClass2 {
	width: 60% !important;
	margin: 20 auto !important;
}
.paddingClassIndex {
	width: 80% !important;
	margin: 20 auto !important;
}
.btnIncarcaAnalize2 {
	margin-top: 103px !important;
}

.btnIncarcaAnalize {
	margin-top: 25px;
}
